.stagesVasyukovs {
    display: flex;
    flex-direction: column;
    gap: 54px;

    padding: 200px 0;

    &__blockOfTitle {
        position: relative;

        max-width: 806px;
    }

    &__mainTitle {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-size: 54px;
        line-height: 120%;
        text-transform: uppercase;
        color: #313131;
    }

    &__futureText {
        position: absolute;
        bottom: 10px;
        left: 300px;

        font-family: 'Golos Text', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;

        width: 280px;
    }

    &__stageGrid_nested {
        display: flex;
        gap: 20px;

    }
    &__containerForPlane {
        position: relative;
    }

    &__stagesGrid {
        list-style-type: none;
        display: grid;
        grid-template-columns: 394px 394px 394px;

        gap: 20px;
    }

    &__stage {
        display: flex;
        gap: 16px;

        height: 112px;
    }

    &__stage_nested {
        display: flex;
        gap: 16px;

        height: 112px;
        padding: 20px;
        box-sizing: border-box;

        list-style-type: none;

        background-image: url(/img/articles/backgroungStage.png);
        background-size: cover;
    }

    &__stageContent {
        display: flex;
        gap: 16px;

        padding: 20px;
        box-sizing: border-box;

        background-image: url(/img/articles/backgroungStage.png);
        background-size: contain;
    }

    &__stage:nth-child(1) {
        grid-column: span 2;
    }

    &__stage:nth-child(2) {
        grid-row: span 2;
        height: 244px;
    }

    &__stage:nth-child(3) {
        grid-column: span 2;
    }

    &__stage:nth-child(4) {
        height: 136px;
    }

    &__stage:nth-child(5) {
        grid-column: span 2;
        width: 808px;
        height: 136px;
    }

    &__stageContent_last {
        width: 808px;

        background-image: url(/img/articles/backgroundStageLast.png);
    }


    &__numberStage {
        background: #fff;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-sizing: border-box;
        border-radius: 60px;
        width: 36px;
        height: 36px;

        font-family: 'Golos Text', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #313131;
    }

    &__textStage {
        width: 302px;

        font-family: 'Golos Text', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #313131;
    }

    &__textWeight {
        width: 416px;
        height: 96px;
    }
    &__sliderContol{
        display: none;
    }

    &__positionPlaneImage {
        position: absolute;
        bottom: 0;
        right: -60px;
    }
}